.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.table-pattern {
  background-color: #d4edda;
  /* A light green background, adjust as needed */
  background-image: radial-gradient(circle, #155724 1px, transparent 1px);
  /* Green dots on a transparent background */
  background-size: 10px 10px;
  /* Adjust the size and spacing of the dots */
}

/* Dark green shade */
.bg-dark-green {
  background-color: #244032;
}